<!DOCTYPE html>
  <html>
    <head>
      <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
  <body>
    <h3><%= @risk_owner.first, %></h3>
      <p>
        Your risk @risk.title has an early impact date coming up in @risk.notification_before_impact_date on @risk.early_impact.
        <br/><br/>
      </p>
    <p>
      -<b>NERSC Risk Tracking<b>
    </p>
  </body>
</html>
