<% for version in @risk.versions.reverse %>
    <% previous = version.previous %>
    <%if !version.nil? and !version.reify.nil? %>
       <%version.next.nil? ? curr_version = @risk : curr_version = version.next.reify %>
      <% if version.reify.comment != curr_version.comment%>
       <tr> <td><%= User.find_by_id(version.whodunnit).username %>
        <td><%= version.created_at %>
        <td><%= curr_version.comment%> </td></tr>
      <% end %>
    <% end %>
<% end %>
