<% for project in @projects %>
  <tr>
    <td class='first'>
      <%= link_to project.name, "/project/edit/" %>
    </td>
    <td>
      <%= project.description %>
    </td>
    <td>
      <%= project.owner_username %>
    </td>
  </tr>
<% end %>

