<% for risk in @risks %>
<tr>
    <td class='first'>
            <%= link_to risk.title, edit_risk_path(params[:pid], risk.id) %>
            </td>
<td class='last'>
<%= risk.description %>
</td>
<% if @user.admin? %>
       <td><%= link_to "X", {:controller => 'risk', :action=> 'destroy', :rid => risk.id} -%>
</td>
       <% end %>
</tr>
<% end %>
