<h1> <%= @risk.title %> </h1>
  <%= render_breadcrumbs %>

  <% if @risk!=nil%>
   <%= render "home/shared/error_messages", :target => @risk %>
  <% end %>
  <%= render "home/shared/edit", { :form_type => "risk", :form_action => {:action => "update", :class => ('autosave')}} %>
