<h1> <%= @risk.title %> </h1>
<%= button_to "<< Return to Risks", risk_index_path, :class => 'btn btn-info', :method => :get %>
  <% if @rsk!=nil%>
   <%= render "home/shared/error_messages", :target => @rsk %>
  <% end %>
  <%= render "home/shared/edit", { :form_type => "risk", :form_action => {:action => "update", :class => ('autosave')}} %>
