<div id="autosave"></div>
<div class='editor-left'>
  <div>
    <div>
    <%= text_field 'project', 'name', :placeholder => "Name" %>
    </div>
    <div>
    <%= text_field 'project', 'description', :placeholder => "Description" %>
    </div>
    <%= submit_tag "Update" %>
  </div>
</div>
