<div id="autosave"></div>
<div class='editor-left'>
  <div>
    <div>
    <%= text_field 'project', 'name', :placeholder => "Name", :required => true %>
    </div>
    <div>
    <%= text_field 'project', 'description', :placeholder => "Description", :required => true %>
    </div>
    <div>
    <% if not @project.nil? %> <%= render 'member_list' %> <% end %>
    </div>
    <%= submit_tag "Save" %>
  </div>
</div>
