<div id="autosave"></div>
<div class='editor-left'>
  <div>
    <div>
    <%= text_field 'project', 'name', :placeholder => "Name" %>
    </div>
    <div>
    <%= text_field 'project', 'description', :placeholder => "Description" %>
    </div>
    <div>
 <table><th>Members</th><% for member in @project.members %><tr><td><%= member.username %></td></tr> <% end %></table>
    </div>
    <%= submit_tag "Save" %>
  </div>
</div>
