<table class ="table table-striped">
  <th><%= link_to "Members", edit_project_path(@project.id, :sort =>
                                               "members") %> </th>
  <% if @user.admin? %>
  <th><%= "Remove?" %></th>
  <% end %>
  <% for member in @proj_members %>
  <tr class="success">
      <td><%= member.username %></td>
      <% if @user.admin? %>
  <td><%= link_to "X", {:action => 'remove_member', :uid => member.id} %></td><% end %>
  </tr>
  <% end %>
</table>
