<table class ="table table-striped">
  <th><%= "Members" %> </th>
  <% if @user.admin? %>
  <th><%= "Remove?" %></th>
  <% end %>
  <% for member in @project.members %>
  <tr class="success">
      <td><%= member.username %></td>
      <% if @user.admin? %>
  <td><%= link_to "X", {:action => 'remove_member', :uid => member.id} %></td><% end %>
  </tr>
  <% end %>
</table>
