<h1>Create New Project</h1>
<br/>
<script type="text/javascript">

function changeColor(cell) {
  if (cell.value == "1") {
      cell.style.background = "green";
    }
    if (cell.value == "2") {
        cell.style.background = "yellow";
      }
      if (cell.value == "3") {
          cell.style.background = "red";
        }

}
</script>
  <%= render "home/shared/edit", { :form_type => "project", :form_action => {:action => "new", :class => ('autosave')}} %>

