
<% for project in @projects %>
<tr class="info">
    <td>
       <%= link_to project.name, edit_project_path(project.id) %>
    </td>
    <td class='last'><%= project.description %>
    </td>
    <% if @user.admin? %>
           <td><%= link_to "X", {:controller => 'project', :action => 'destroy', :pid => project.id} -%>
    </td>
    <% end %>
</tr>
<% end %>


