
  <% for user in @users %>
<tr>
         <td class='first'>
                 <%= link_to user.username, edit_user_path(user.id) %>
</td>
                 <td class='last'><%= user.email %>
</td>
</tr>
<% end %>


